body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}




/* --- UTILS --- */

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

.title-banner {
    display: flex;
    margin: 0 0 35px 0;
}

.title-banner h2:first-child {
    margin: 0 20px 0 87px;
}

.title-banner h2:last-child {
    margin: 0 87px 0 20px;
}

.title-banner h2 {
    font-size: 48px;
    line-height: 48px;
    color: #FF6738;
    font-family: 'Francois One', sans-serif;
}

.title-banner div {
    flex-grow: 1;
    height: 54px;
    background-color: #FF6738;
}







/* --- PAGE HEADER --- */
#page-header .header {
    background-color: #FFD59E;
    height: 147px;
}

#page-header .header > .wrapper {
    padding: 31px 0px 0px 25px;
    box-sizing: border-box;
}


#page-header .header img {
    height: 55px;
}

#page-header .header h1 {
    width: 676px;
    height: 55px;
    float: right;
    box-sizing: border-box;
    font-size: 34px;
    font-family: 'Francois One', sans-serif;
    color: #FF6738;
    border-bottom: 9px solid #FF6738;
}

#page-header nav {
    height: 46px;
    background-color: #FF6738;
}

#page-header nav ul {
    padding: 0px 87px;
    box-sizing: border-box;
}

#page-header nav li {
    display: inline-block;
    padding: 0 20px 0 0;
}

#page-header nav li a{
    line-height: 46px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    transition-duration: 0.3s;
}

#page-header nav li:hover a {
    color: #E5E5E5;
}





/* --- ABOUT SECTION --- */

#section-about .section-image {
    height: 300px;
    background-image: url('../assets/img1.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

/* --- ABOUT ARTICLE --- */
#article-about {
    min-height: 300px;
    margin: 0 0 30px 0;
}

#article-about .article-image {
    display: inline-block;
    width: 328px;
    height: 300px;
    background-image: url('../assets/img2.jpg');
    background-position: center;
    background-size: cover;
}

#article-about .article-text {
    display: inline-block;
    width: 676px;
    float: right;
    height: 300px;
    border-bottom: 9px solid #FF6738;
    box-sizing: border-box;
}

#article-about .article-text h2 {
    font-size: 36px;
    color: #FFA938;
    font-weight: 900;
    margin: 0 0 10px 0;
}

#article-about .article-text p {
    text-align: justify;
    font-size: 14px;
    line-height: 162.4%;
}

#article-founder {
    margin: 0 0 40px 0;
    background-color: #FFD59E;
}

/* --- FOUNDER ARTICLE --- */
#article-founder .article-image {
    position: relative;
    display: block;
    height: 365px;
    background-image: url('../assets/img3.jpg');
    background-position: center;
    background-size: cover;
}

#article-founder .article-image::after {
    content: 'LE FONDATEUR';
    position: absolute;
    color: #FF6738;
    font-weight: 900;
    font-size: 34px;
    text-shadow: 0 0 6px #000;
    bottom: 20px;
    right: 30px;
    font-variant-caps: small-caps;
}

#article-founder .article-text {
    column-count: 2;
    padding: 35px 85px 30px 85px;
}

#article-founder .article-text p {
    font-size: 14px;
    line-height: 162.4%;
    text-align: justify;
}





/* --- SERVICE ARTICLE --- */
#section-service article {
    margin: 0 0 35px 0;
}

#section-service article div {
    height: 292px;
    display: inline-block;
}

#section-service article > div:last-child {
    float: right;
}

#section-service .article-text {
    width: 482px;
    padding: 0px 15px;
}

#section-service .article-text h3 {
    font-size: 36px;
    font-weight: 900;
    line-height: 162.4%;
    color: #FF6738;
}

#section-service .article-text p {
    font-size: 14px;
    text-align: justify;
    line-height: 162.4%;
}

#section-service .article-image {
    width: 502px;
    background-position: center;
    background-size: cover;
}

#section-service .img-one {
    background-image: url('../assets/img4.jpg');

}
#section-service .img-two {
    background-image: url('../assets/img5.jpg');
}
#section-service .img-three {
    background-image: url('../assets/img6.jpg');
}








/* --- RATE SECTION --- */
#section-rate {
    margin-bottom: 45px;
}

#section-rate article {
    width: 975px;
    margin: 0 auto;
}

#section-rate article h3 {
    font-size: 36px;
    font-weight: 900;
    line-height: 162.4%;
    color: #FF6738;
}

#section-rate table {
    text-align: left;
    margin: 0 0 35px 0;
}

#section-rate table thead { 
    border: 2px solid #FF6738;
}

#section-rate table th {
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 700;
    color: #E5E5E5;
    background-color: #FF6738;
}

#section-rate table td {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 162.4%;
    font-weight: 700;
    border: 2px solid #FF6738;
}













/* --- CONTACT SECTION --- */
#section-contact article {
    width: 975px;
    margin: 0 auto;
}

#section-contact form {
    display: inline-block;
}

#section-contact input, #section-contact textarea {
    height: 66px;
    margin: 0 0 35px 0;
    padding: 18px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 500;
    background-color: #FFD59E;
}

#section-contact input::placeholder #section-contact textarea::placeholder {
    color: #B7B7B7;
}

#form-last-name {
    width: 395px;
    margin-right: 20px;
}

#form-first-name {
    width: 560px;
    float: right;
}

#form-email, #form-phone {
    width: 556px;
}

#form-message {
    width: 975px;
    min-height: 285px;
}

#section-contact input[type="submit"] {
    width: 310px;
    height: 86px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF6738;
    float: right;
    transition-duration: 0.3s;
}

#section-contact input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(255, 103, 56, 0.80);
    
}






/* --- FOOTER --- */
footer {
    background-color: #C4C4C4;
}

footer .wrapper {
    height: 294px;
    padding: 37px 0 0 87px;
    box-sizing: border-box;
}

footer .logo img {
    height: 55px;
}

footer .logo div {
    width: 620px;
    height: 55px;
    float: right;
    background-color: #FF6738;
}

footer address {
    margin: 23px 0 0 0;
    font-size: 18px;
    font-weight: 700;
}



